* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-header {
  background-color: darkcyan;
  /* background-image: url('./dashboard.png'); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  filter: blur(4px);
}

.chatbot-wrapper {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.chatbot-button {
  height: 100px;
  width: 100px;
  background: #2e3345;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.chatbot-button .fa-comments {
  height: 100px;
  width: 65px;
}

.chatbot-body {
  height: 500px;
  width: 350px;
  background: white;

  position: absolute;
  bottom: 0;
  right: 0;

  visibility: hidden;
  text-align: left;

  overflow: scroll;
  border-radius: 10px;
  box-shadow: 5px 7px 10px 0 rgb(35 43 48 / 6%);
}

header {
  background: #2e3345;
  color: white;
  display: flex;
}

header h4 {
  padding: 0 20px;
  flex-grow: 1;
}

header .close {
  font-size: 16px;
  width: 25px;
  align-self: center;
  cursor: pointer;
  opacity: 0.8;
}

.chatbot-body form {
  display: flex;
}
.chatbot-body input {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  border: 0;
}

.notification {
  background-color: red;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  font-size: 14px;
}

.send {
  border: 0;
  background: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #1e90ff;
}
.active {
  visibility: visible;
}

.chat {
  padding: 20px;
  height: calc(100% - 125px);
  overflow: scroll;
  background-color: #eaeef3;
}

.message-wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.message-wrapper .user {
  margin: 6px 0;
  font-size: 12px;
}

.message-wrapper.right {
  align-items: flex-end;
}

.message-wrapper.left {
  align-items: flex-start;
}

.message {
  padding: 10px;
  background-color: white;
  max-width: 95%;
  font-size: 14px;
  overflow-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.message-wrapper.left .message {
  border-radius: 4px 20px 20px;
}

.message-wrapper.right .message {
  border-radius: 20px 4px 8px 20px;
}

.time {
  font-size: 12px;
}

.swag {
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
}
